@import "./base/bootstrap.scss";
@import "./base/bootstrap-extended.scss";
@import "./base/colors.scss";
@import "./base/components.scss";

// Themes
@import "./base/themes/dark-layout.scss";
@import "./base/themes/bordered-layout.scss";
@import "./base/themes/semi-dark-layout.scss";
// @import './base/custom-rtl.scss';

// React Specific
@import "react/index";

html[dir="rtl"] .custom-file-input:lang(en) ~ .custom-file-label::after {
  content: "إستعراض";
}

@font-face {
  font-family: "GESSTwo";
  // src: url("./assets/fonts/GESSTwo/GESSTwoLight-Light.woff");
  src: url("../assets/fonts/GESSTwo/GESSTwoLight-Light.woff");
}

* {
  font-family: "GESSTwo";
}
