@import "./base/bootstrap.scss";
@import "./base/bootstrap-extended.scss";
@import "./base/colors.scss";
@import "./base/components.scss";

// Themes
@import "./base/themes/dark-layout.scss";
@import "./base/themes/bordered-layout.scss";
@import "./base/themes/semi-dark-layout.scss";
// @import './base/custom-rtl.scss';

// React Specific
@import "react/index";

html[dir="rtl"] .custom-file-input:lang(en) ~ .custom-file-label::after {
  content: "إستعراض";
}

@font-face {
  font-family: "GESSTwo";
  // src: url("./assets/fonts/GESSTwo/GESSTwoLight-Light.woff");
  src: url("../assets/fonts/GESSTwo/GESSTwoLight-Light.woff");
}

* {
  font-family: "GESSTwo";
}

.modal-slide-in .modal-dialog.sidebar-lg.bigger_modal {
  width: 900px;
}

@media only screen and (max-width: 992px) {
  .modal-slide-in .modal-dialog.sidebar-lg.bigger_modal {
    width: 750px;
  }
}

@media only screen and (max-width: 768px) {
  .modal-slide-in .modal-dialog.sidebar-lg.bigger_modal {
    width: 450px;
  }
}

@media only screen and (max-width: 480px) {
  .modal-slide-in .modal-dialog.sidebar-lg.bigger_modal {
    width: 300px;
  }
}

.app-collapse .card-header svg {
  color: #ff9f43 !important;
}

.app-collapse.card .card-header svg {
  transform: rotate(-180deg);
}
.app-collapse.card .card-header:not(.collapsed) svg {
  transform: rotate(0deg);
}
